@font-face {
    font-family: NotoNastaliq;
    src: url('assets/NotoNastaliqUrdu-Regular.ttf');
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 9.5fr;
    grid-gap: 0.2em;
    font-family: 'century gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#mcqs {
    display: grid;
    grid-template-columns: 5% 5% 90%;
}

#first-col {
    grid-column: 1/2;
    flex-direction: column;
}

#first-col>p {
    font-size: 24px;
}

#second-col {
    grid-column: 2/3;
    flex-direction: column;
}

#third-col {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#third-col>div {
    flex-grow: 1;
    padding-top: 0.8em;
    padding-left: 1em;
}

#version {
    background-color: #428bca;
    font-size: 24px;
    text-align: end;
}

.blue {
    color: #007bff;
}

.red {
    color: #ff4444;
}

.bg-blue {
    background-color: #007bff;
}

.btn-md {
    height: 1.8rem;
    width: 10rem;
}

.btn-sm {
    height: 1.8rem;
    width: 2rem;
}

.font-md {
    font-size: 1.2rem;
}

.font-white {
    color: aliceblue;
}

.border {
    border: black 1px solid;
}

.t-sm {
    font-size: 0.9rem;
}

#grid-parent {
    display: grid;
    grid-template-columns: 5px 8fr 2fr;
    justify-content: space-evenly;
}

#grid-child-1 {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1fr 4fr 4fr 1fr 1fr;
    grid-gap: 0.1rem;
    /* height: max-content; */
}

#student-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.i-field {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#question-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: max-content; */
}

#question {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
}

#question-portion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5rem;
}

#mcq-portion {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.urdu {
    font-family: NotoNastaliq, sans-serif;
}

#m-review {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    /* justify-content: space-around; */
}

#grid-child-2 {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    justify-items: center;
}

#pic {
    width: 70%;
    height: 8rem;
    background: url('assets/user.svg') no-repeat center;
}

.t-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#ts-parent {
    width: 80%;
}

#time-alloted {
    height: 3rem;
    text-align: center;
}

#time-remaining {
    height: 3rem;
    text-align: center;
    border-top: none;
}

#controls {
    width: 90%;
    /* padding: 0.4rem; */
}

#controls-grid {
    padding: 0.2rem;
    /* overrides the value from i-field */
    justify-content: space-between;
}

#btn-first {
    background: url('assets/fast-backward.svg') no-repeat center;
}

#btn-previous {
    background: url('assets/step-backward.svg') no-repeat center;
}

#btn-next {
    background: url('assets/step-forward.svg') no-repeat center;
}

#btn-last {
    background: url('assets/fast-forward.svg') no-repeat center;
}

/* temporary */

.svg {
    width: 140px;
    height: 140px;
}

#int-sect {
    display: none;
    justify-content: space-around;
    /* align-items: center; */
    /* width: 100%; */
    height: 100%;
    text-align: center;
}

#int-sect>* {
    flex-grow: 1;
    padding-top: 15px;
    /* padding-left: 40px; */
    /* margin: auto; */
}

#int-sect>input {
    align-self: center;
}