body{
    height: 100vh;
}

#version{
    background-color: #428bca;
    font-size: 24px;
    text-align: end;
}

.blue{
    color: #428bca;
}

#grid-parent{
    display: grid;
    grid-template-columns: 7fr 3fr;
    height: 95%;
}

#grid-child-1{
    border-style: solid;
    border-width: 1px;
    border-color: red;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

#student-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.i-field{
    display: flex;
    justify-content: space-around;
}

#footer{
    display: flex;
    justify-content: space-around;
}

#grid-child-2{
    border-style: solid;
    border-width: 1px;
    border-color: green;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    justify-items: center;
}

#pic{
    width: 50%;
    height: 110px;
    border: black 1px solid;
}

#time-alloted{
    width: 80%;
    height: 60px;
    border: black 1px solid;
    text-align: center;
}

#time-remaining{
    width: 80%;
    height: 60px;
    border: black 1px solid;
    text-align: center;
}