body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

main {
    grid-row: 2/3;
}

.tick button::after {
    content: '\f00c';
    font-family: 'Material Icons';
    float: right;
}